@import '../iconfont/iconfont.css';
@import './overwrite.css';
@import './variable.scss';

// hide global scroll bar
html {   overflow-y: hidden; 
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

.beautify-scrollbar{
  // 滚动条整体部分
  &::-webkit-scrollbar{
    background-color: rgba(0,0,0,0);
    opacity: 0;
    width: 8px;
  }
  //滚动条的轨道（里面装有Thumb）
  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
  //滚动条里面的小方块，能向上向下移动（或向左向右移动）
  &::-webkit-scrollbar-thumb {
    background-color: #2c2e32;
    width: 8px;
    border-radius: 8px;
  } 
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.container-1040{
  max-width: 1040px;
}
.cursor-pointer{
  cursor: pointer;
}

.subtitle-3{
  font-size: 12px !important;
}

.border-t{
  border-top: 1px solid $border-color;
}
.border-b{
  border-bottom: 1px solid $border-color;
}
.border-r{
  border-right: 1px solid $border-color;
}
.border-l{
  border-left: 1px solid $border-color;
}
.border-a{
  border: 1px solid $border-color;
}
.btn-border{
  border: 1px solid #9e9e9e;
}
